<!DOCTYPE html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular.js"></script>
    <script src="https://code.angularjs.org/1.4.3/angular-mocks.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.string/3.2.2/underscore.string.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="directives.js"></script>
    <script src="mocks.js"></script>

    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css" />
    <link rel="stylesheet" type='text/css' href="style.css" />
  </head>

  <body ng-app="app">

    <div ng-controller="AvailabilityCtrl" class='container availability-container'>

      <form ng-if="::availability" class='form-inline'>

        <nav class="navbar navbar-light bg-faded">
          <div class='pull-left'>
            <span class="small">FARE HARBOR</span>
          </div>
          <div class='pull-right'>
            <div ng-presence presence-channel-name="{{presenseChannelName}}"></div>
          </div>
          <div class='clearfix'>
        </nav>

        <div class='booking'>
          <p class='lead'>YOU'RE BOOKING</p>
          <h2 ng-bind="availability.item.name"></h2>
          <h5 ng-bind="availability.date"></h5>
          <div class='form-group'>
            <label>Number of people</label>
            <input class='form-control' type='number' min='0' ng-model='booking.numSeats'/>
          </div>
        </div>

      </form>
      <br>
      <span class='btn btn-secondary btn-sm' ng-click="updatePresence()">Update Presence</span>
    </div>
  </body>
</html>
