.availability-container .navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    min-height: 42px;
}
.booking h5 {
    margin-bottom: 20px;
}
[ng-presence] .users {
    float: right;
}
[ng-presence] .presence-label {
    display: inline-block;
    line-height: 25px;
    margin-right: 6px;
}
[ng-presence] .user {
    width: 25px;
    height: 25px;
    line-height: 25px;
    background-color: #ddd;
    display: inline-block;
    margin: 0 2px;
    vertical-align: top;
    float: left;
}
.tooltip {
    font-size: 11px;
}